<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  <div class="card-body">
                    <h4 class="card-title">Listado de pacientes</h4>
                    <h6 class="card-subtitle">Pacientes del dia</h6>
                    <div class="bootstrap-table">
                      <div class="fixed-table-toolbar"></div><div class="fixed-table-container" style="height: 250px; padding-bottom: 40px;"><div class="fixed-table-header" style="margin-right: 0px;"><table class="table-striped table table-hover" style="width: 994px;">
                        <!-- <thead><tr><th style="" data-field="0"><div class="th-inner ">Name</div><div class="fht-cell" style="width: 158px;"></div></th><th style="" data-field="1"><div class="th-inner ">Stars</div><div class="fht-cell" style="width: 56px;"></div></th><th style="" data-field="2"><div class="th-inner ">Forks</div><div class="fht-cell" style="width: 60px;"></div></th><th style="" data-field="3"><div class="th-inner ">Description</div><div class="fht-cell" style="width: 717px;"></div></th></tr></thead> -->
                      </table></div>
                      <div class="fixed-table-body"><div class="fixed-table-loading" style="top: 41px;">
                      </div>
                      <table data-toggle="table" data-height="250" data-mobile-responsive="true" class="table-striped table table-hover" style="margin-top: -40px;">
                        <thead><tr><th style="" data-field="0">
                          <div class="th-inner ">Nombre</div>
                          <div class="fht-cell">

                        </div>
                      </th>
                      <th style="" data-field="1">
                        <div class="th-inner ">Hora</div>
                        <div class="fht-cell"></div>
                      </th>
                      <th style="" data-field="3">
                        <div class="th-inner ">Descripcion</div>
                        <div class="fht-cell"></div>
                      </th>
                    </tr>
                  </thead>
                        <tbody><tr id="tr-id-1" class="tr-class-1" data-index="0">
                           <td id="td-id-1" class="td-class-1" style=""> Carlos Martinez </td>
                            <td style="">09:15</td>

                            <td style="">Dolor de pecho, fiebre y mareos </td>
                          </tr>
                          <tr id="tr-id-2" class="tr-class-2" data-index="1">
                            <td id="td-id-2" class="td-class-2" style="">Laura Gonzalez </td>
                            <td style="">09:45</td>

                            <td style="">Dolor abdominal y nauseas </td>
                          </tr>
                          <tr id="tr-id-3" class="tr-class-3" data-index="2">
                             <td id="td-id-3" class="td-class-3" style="">Sandra Colorado </td>
                              <td style="">10:15</td>

                               <td style="">Erupcion Cutánea</td>
                               </tr>
                               <tr id="tr-id-4" class="tr-class-4" data-index="3">
                                  <td id="td-id-4" class="td-class-4" style=""> Ramón Gracía</td>
                                   <td style="">10:45</td>

                                   <td style="">Temblores y espasmos nocturnos</td>
                                   </tr>
                                   <tr id="tr-id-5" class="tr-class-5" data-index="4">
                                     <td id="td-id-5" class="td-class-5" style=""> Iniesta de mi Vida</td>
                                      <td style="">11:30</td>

                                       <td style="">No sabe hablar japones</td>
                                       </tr>
                                      </tbody>
                    </table>
                  </div>
                  <div class="fixed-table-footer" style="display: none;">
                    <table>
                      <tbody>
                        <tr>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="fixed-table-pagination" style="display: none;">
                  </div>
                </div></div>
                <div class="clearfix">

                </div>
                </div>
                </div>
            </div>
        </div>
 </div>
